body
{
    background-color: white;
}

.code-info
{
    color: black; /* Text Color Change */
    background-color: lightblue;
    font-family: "Times New Roman";
}
footer
{
    text-align: center;

}



