body
{
    background-color: lightskyblue;
}

header
{
    background-color: orange;
}


.container
{
    display: grid;
    grid-template-columns: repeat(25,auto);
    grid-template-rows: repeat(1, auto);
}

.element-info
{
    color: black; /* Text Color Change */
    background-color: lightblue;
    font-family: "Times New Roman";
}
footer
{
    text-align: center;

}



