body
{
    background-color: lightskyblue;
}
header
{
    background-color: orange;
}

main
{
    background-color: darkgray;
}
footer
{
    background-color: yellow;
    text-align: center;
}

.container
{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(1, auto);
}

.element-info
{
    color: black; /* Text Color Change */
    background-color: floralwhite;
    font-family: "Times New Roman";
}



